<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusicMania</title>
  <link rel="icon" type="image/x-icon" href="/static/img/images/favicon.ico">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/stylehome.css" type="text/css" media="all">

</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <h1><a href="#">Music Beats</a></h1>
      <nav>
        <ul>
          
          <li class="m4"><a href="/login"><span>Login</span></a></li>
          <li class="m5 last"><a href="/login"><span>Signup</span></a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <aside>
      <div class="inside">
        <h2>Where words fail, <a href="#" style="text-decoration:none ;">Music</a> speaks.</h2>
        <ul class="news">
          <li>Music is the essence of life. Everything that has rhythm has music. Our breathing also has a rhythm.
             Thus, we can say that there is music in every human being or a living creature. Music has the ability to convey all sorts of emotions to people. Music is also a very powerful means to connect with God. We can conclude that Music is the purest form of worship of God and connects with our soul.
          </li>
          
        </ul>
      </div>
    </aside>
    <section id="content">
      <div class="wrapper">
        <article class="col-1">
          <h2></h2>
          <img src="/static/img/images/1page-img.jpg">
          <p class="p1">Put your favourite music on and lose yourself in your own world, forgetting about all your daily problems. An enthusiastic music can make you move, a party song can make you crazy, a soulful song can renew your spirit, and a happy song can make you smile.<strong style="color:#d730f8 ;">MusicMania</strong> offers everything. Your new musical buddy is right here. Sign up and enjoy yourself!</p>
          
        </article>
        <article class="col-2">
          <h2>A great start to a lovely day.</h2>
          <ul class="list">
            <li><strong>Live</strong>Music brings a warm glow to my vision, thawing mind and muscle from their endless wintering
              <a href="#"><img src="/static/img/images/arrow.gif"></a></li>
            <li><strong>Love</strong>The more you love, the more love you have to give. It’s the only feeling we have which is infinite
              <a href="#"></a><img src="/static/img/images/arrow.gif"></a></li>
            <li><strong>Music</strong>Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything. <a href="#"></a> <img src="/static/img/images/arrow.gif"></a></li>

          </ul>
        </article>
      </div>
    </section>
    <div class="clear"></div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="cont-bot"></div>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2022 MusicMania - All Rights Reserved</p>
      <p class="rf">Design by <i>Amisha & Avantika</i></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</footer>

</body>
</html>
